body {
  background-color: white;
  padding: 0;
}
div {
  background-color: red;
  color: black;
  height: 710px;
  margin: 0% 40% 0% 40%;
  text-align: center;
  padding: 2px;
  vertical-align: center;
}
form{
  background-color: white;
  margin: 40% 0% 40% 0%;
}
input {
  margin: 3px;
  text-align: left;
  border-color: red;
}